@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    font-family: Satisfy;
}

nav {
    min-height: 10vh ;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}
nav ul {
    display:flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.main-head{
    background-color: rgb(14, 15, 15);
    color: pink;
}
a {
    color: pink;
    text-decoration: none;
}

body {
   background-color: rgb(255, 192, 218);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 130vh;
    background-position: absolute;
}

#imagesDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 33%;
    margin-top: 5%;
}

#maps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mapouter {
    width: 100%;
}

.gmap_canvas {
    width: 400px;
    height: 400px;
    margin-top: 20%;
}

#navImage {
    width: 10%;
    height: 10%;
    margin-top: 0;
    margin-bottom: 0;
}

#text {
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 40px;
    margin-top: 10%;
    padding: 0;


}

.intro {
    font-size: 60px;
    text-align: center;
    justify-content: center;
    margin-top: 20%;
    color: black;
}

#place-names {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    font-size: 20px;
}

#home, #about {
    font-size: 30px;
}

div > a {
    color: black;
}
   
a:hover { 
    color: rgb(255, 81, 110);
      
}



